html {
  background-color: #282c34;
  font-family: "Flexo-Medium",arial,sans-serif;
  min-height: 100%;
}

a {
  text-decoration: none;
}
/*
Card Styles
*/

.card-list {
  text-align: center;
  display: flex;
  align-items: left;
  font-size: calc(10px + 2vmin);
  align-items:flex-start;
  align-content:flex-start;
  flex-wrap: wrap;
}

.card {
  width: calc(100vh / 4 - 25px);
  background: white;
  color: #282c34;
  font-size: 16px;
  border: 1px solid white;
  text-align: left;
  padding: 10px 0;
  margin: 10px;
  border-radius: 5px;
  transition: 0.5s;
}

.card:hover {
  opacity: 0.9;
  cursor: pointer;
  margin-top: -2px;
}

.card img {
  width: 100%;
}

.card-info {
  margin: 0 10px;
}
.card-id {
  letter-spacing: 0.2em;
  text-align: left;
  font-size: 0.8em;
  margin: 0;
  color: gray;
}

.card h5 {
  font-size: 1.5em;
  margin: 0;
}

.card-category {
  background-color: teal;
  color: #fff;
  border-radius: 3px;
  line-height: 1.5em;
  margin: 0 3% 0 0;
  width: 30%;
  display: inline-block;
  font-size: 0.7em;
  text-align: center;
}



/*

Info styles

*/

.info {
  background-color: white;
  padding: 0 10px;
}

.info .info-header {
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  border-bottom: 1px solid silver;
  padding: 10px;
}

.info-body {
  display: flex;
  align-items: left;
  align-items:flex-start;
  align-content:flex-start;
  flex-wrap: wrap;
}

.info .info-block { 
  width: 50%;
}

.info .info-block img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 300px;
}

.info .info-block .info-desc {
  color: black;
}

.info .info-block .info-category {
  margin: 10px 0;
}
.info .info-block .info-category .type {
  background-color: teal;
  color: #fff;
  border-radius: 3px;
  padding: 10px 30px;
  margin: 0 3% 0 0;
  text-align: center;
  display: inline-block;
}


.info .info-footer {
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  padding: 20px;
  border-top: 1px solid silver;
}

.info .info-footer a {
  text-decoration: none;
  background-color: lightskyblue;
  padding: 10px 30px;
  border-radius: 10px;
  color: white;
  font-size: 0.7em;
}

.info .info-footer a:hover {
  background-color: lightblue;
}
