
@mixin pokemonTypes {  
  &-grass {
    background-color: green;
  }
  &-fire {
    background-color: red;
  }
  &-water {
    background-color: lightblue;
  }

  &-flying { 
    background-color: silver;
  }

  &-poison {
    background-color: slateblue;
  }

  &-bug {
    background-color: brown;
  }
}

.card-title { 
  text-transform: capitalize;
}

.card {
  margin: 10px auto;
  &-poke {
    &:hover{
      cursor: pointer;
      opacity: 0.8;
      margin-top: 8px;
    }
  }
}

.navbar { 
  margin-bottom: 20px;
}

.badge {
  margin-right: 10px;
  color: white;
  padding: 10px 10px 10px 10px;
  font-size: 0.8em;
  font-weight: normal;
  background-color: silver;

  @include pokemonTypes;
}

.info { 
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;

  &-title { 
   text-align: center; 
   text-transform: capitalize;
  }

  &-content { 
    text-align: left;
  }
  &-button {
    margin: 0 auto;
  }
}

.loading { 
  text-align: center;
}